*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;

}

:root{
   --bg-color: rgb(16, 16, 16);
   --second-bg-color: #191919;
   --text-color: #aaa;
   --second-color: #c6c9d8bf;
   --main-color: #f9004d;
   --big-font: 5.3rem;
   --h2-font: 4.2rem;
   --p-font: 1.3rem;
}

html {
    font-family: 'Joan', serif;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


/*---------------------------------------------------
---------------------NAV-BAR---------------------
-------------------------------------------------- */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo{
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo img {
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    display: flex;
}

.navbar li{
    position: relative;
    list-style: none;
}

.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

.navbar a:hover::after{
    width: 100%;
}

.h-btn{
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 14px;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.35s;
}

.h-btn:hover{
    transform: translateY(-4px);
}


/*-------------------STIKY NAVBAR-------------------*/


header.stiky{
    padding: 12px 15%;
    background: var(--main-color);
    opacity: 0.8;
}

.stiky .navbar a::after{
    background: var(--text-color);
}

.stiky .logo{
    color: var(--text-color);
}

.stiky .h-btn{
    background: var(--text-color);
    color: var(--main-color);
}

/* .stiky #menu span{
    background-color: ;
} */


/*---------------------------------------------------
---------------------HOME---------------------
-------------------------------------------------- */

section{
    padding: 120px 15%;
}

.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

}

.home-text h1{
    margin: 20px 0 20px;
    font-size: var(--big-font);
}

span{
    color: var(--main-color);
}

.home-text h3{
    font-size: 25px;
    margin-bottom: 55px;
    letter-spacing: 2px;

}

.home-text h4{
    letter-spacing: 2.5px;
    font-size: 20px;
    text-transform: capitalize;
    margin: 3rem 0;
}

.newletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newletter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.newletter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 30px;
    background: var(--main-color);
    color: var(--text-color);
    padding: 12px 30px;
    box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

/*---------------------------------------------------
---------------------about---------------------
-------------------------------------------------- */

.about{
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.about-text h2{
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;

}

.about-text p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: 1.2rem;
    margin-bottom: 45px;
}

.btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .35s;
}

.btn:hover{
    transform: translateY(-8px);
    border: 2px solid var(--main-color);
    background: transparent;
}


/*---------------------------------------------------
---------------------banner-one---------------------
-------------------------------------------------- */

.banner-one {
    width: 100%;
    height: 60vh;
    background-color: #868686;
    padding: 0;
}

.banner_one_img {
    position: relative;

    width:100%;
    height: 100%;
    background-image: url(../imgs/banar_1.jpg);
    background-size: cover;
    background-position: center; 
    transition: 0.8s;
}

.banner_one_img:hover {
    transform: scale(1);
}

.banner_overlay {
    width: 100%;
    height: 100%;
    background-color: #230511bb;
    overflow: hidden;

}

/*---------------------------------------------------
---------------------skills--------------------------
-------------------------------------------------- */

.skills{
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: auto;
    margin: 0 auto;
}

.skills h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.skills h5 {
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 2rem ;
}

.skills_container{
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content:center;
        

}

.content_skills {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90%;

    align-items: center;
    justify-content: space-between;
}
 /**/

.skill {
    height: 110px;
    display: flex;
    justify-items: center;
    align-items: center;
    border: var(--main-color) solid 1px;
    border-radius: 50%;
    margin: 1rem;
}

.skill img {
    height: 80%;
    margin: 1.2rem;
    padding: 10px;
}



/*---------------------------------------------------
---------------------services---------------------
-------------------------------------------------- */

.services{
    background: var(--bg-color);
    text-transform: capitalize;

}

.center{
    text-align: center;
}

.center h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.center p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
}

.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;

}

.row{
    background: var(--second-bg-color);
    padding: 55px 30px;
    cursor: pointer;
    transition: all .35s;
    text-align: center;

}

 i{
    color: rgb(208, 67, 67);
    margin-bottom: 20px;
    font-size: 2.7rem;
}

.row h3{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.row p{
    color: var(--second-color);
    line-height: 30px;
    font-size: var(--p-font);
}

.row:hover{
    transform: translateY(-8px);
}


/*---------------------------------------------------
---------------------portfolio---------------------
-------------------------------------------------- */

.portfolio{
    background: var(--second-bg-color);
    text-transform: capitalize;

}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img{
    max-width: 100%;
    width: 400px;
    height:auto ;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box a{
    font-size: var(--p-font);
    color: var(--second-color);
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.box a:hover {
    transform: translateY(-4px);
    color: var(--main-color)
}

.box h5{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

}

.box img:hover{
    transform: scale(1.03);
}

.porto-details {
    display: flex;
}

/*---------------------------------------------------
---------------------CONTACT---------------------
-------------------------------------------------- */

.contact{
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.contact-img img{
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 10px;
}

.contact-form h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.contact-form h5{
    font-size: 1.4rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.contact-form p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
    margin-bottom: 4.1rem;
}

.contact-form form{
    position: relative;

}

.contact-form form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: var(--second-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom:0.5rem;
    border-radius: 10px;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form form .send{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    border-radius: 30px;
    font-weight: 700;
    width: 200px;
    transition: ease .35s;
    text-transform: uppercase;
}

.contact-form form .send:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

/*---------------------------------------------------
---------------------FOOTER---------------------
-------------------------------------------------- */

.footer{
    background: var(--second-bg-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer p{
    font-size: 18px;
    color: var(--second-color);
    letter-spacing: 1px;
}

#footer-social{
    align-self: self-end;
}

#footer-social img{
    width: 30px;
    margin-left: 0.1rem;
    transition: 0.3s;
}

#footer-social img:hover {
    transform: translateY(-4px);
}
/*................................
.............HUMBURGER MENU ................
............................... */

#menu{
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
    display: none;

}

#menu span{
    display: block;
    height: 4px;
    width: 32px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    border-radius: 7px;
    transform-origin: 0 0;
    transition: 0.6s;
}

#menu.active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
 #menu.active span:nth-child(2){
    opacity: 0;
    transform: translatex(15px);
}
#menu.active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
} 
#menu.active span{
    background-color: var(--main-color);
}

header.stiky #menu.active span{
    background-color: var(--text-color);
}







/*---------------------------------------------------
---------------------MEDIA QUERY---------------------
-------------------------------------------------- */

@media (max-width: 1270px) {
    header{
        padding: 18px 4%;
        transition: .2s;
    }

    header{
        padding: 18px 4%;
        transition: .2s;
    }

    header.stiky{
        padding: 10px 4%;
        transition: .2s;
    }

    section{
        padding: 80px 4%;
        transition: .2s;
    }

    :root{
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }

   
   

}

@media (max-width: 990px){
    .home{
        height: 95vh;
    }

    .home-text h1{
        margin: 4rem 0;
        font-size: var(--h2-font);

    }

    .home-text h4{
        margin-bottom: 4rem;
    }

    #menu{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -900%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;

    }

    .navbar a{
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
    }

    .navbar a:hover{
        background: var(--main-color);
    }

    .navbar a::after{
        display: none;
    }

    .navbar a:hover span{
        color: #fff;
    }

    .navbar.active{
        top: 100%;
    }

    .newletter form{
    
        display: none;
    }

    .about{
        flex-direction: column;
    }

    .about-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img{
        max-width: 100%;
        width: 660px;
        height: auto;
    }

    .contact{
        grid-template-columns:1fr;
    }

    .contact-img{
        text-align: center;
        margin-bottom: 25px;
    }

    .contact-form{
        order: 2;
    }

    .contact-img img{
        max-width: 100%;
        width: 300px;
        height: auto;
    }

    .box img{
        max-width: 100%;
        width: 550px;
        height: auto;
    }
   
}

@media (max-width: 707px) {
   .newletter form {
    width: 330px
} 
}
